.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: Inter, sans-serif;
  position: relative;
}

.label {
  font-size: 14px;
  color: var(--color-text-secondary);
}

.control {
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  padding: 10px 12px;
  border-radius: var(--radius-md);
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.2s;
}

.control:hover {
  border-color: var(--color-primary);
}

.arrow {
  font-size: 12px;
  color: var(--color-text-secondary);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  margin-top: 4px;
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  z-index: 10;
  overflow: hidden;
}

.option {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 14px;
  color: var(--color-text-primary);
}

.option:hover {
  background: rgba(0, 0, 0, 0.05);
}

.active {
  background: var(--color-primary);
  color: white;
}