.divider {
  width: 100%;
  margin: 0;
  border: 0;
  border-top: 1px solid var(--divider-color);
}

/* =========================================================
   COLORS
   ========================================================= */

.default {
  --divider-color: var(--color-border);
}

.muted {
  --divider-color: var(--color-border-muted);
}

.strong {
  --divider-color: var(--color-border-strong);
}

.primary {
  --divider-color: var(--color-primary);
}

.danger {
  --divider-color: var(--color-danger);
}

.dark {
  --divider-color: var(--color-border-dark);
}
